<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group" >
           <a class="List-groupe-item" style="box-sizing: border-box;" style="cursor: pointer;">
            <li class="list-group-item" *ngFor="let ingredient of ingredients; let i=index "  
    (click)="OnEditItem(i)">
        {{ingredient.name}}({{ingredient.amount}})
         
    </li>
            </a>         
    
    
         
        </ul>
    </div>
</div>